<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83599750388-da01shqogaekcpj69dklu29a84ge4glv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83599750388-da01shqogaekcpj69dklu29a84ge4glv</string>
	<key>API_KEY</key>
	<string>AIzaSyBH4VCLVqbA2vegPkBk6_BUJeBWtuoS3Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>83599750388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.bentz.bentzStocks</string>
	<key>PROJECT_ID</key>
	<string>bentzstocks</string>
	<key>STORAGE_BUCKET</key>
	<string>bentzstocks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83599750388:ios:c4e9f40b516231afd25aa1</string>
	<key>DATABASE_URL</key>
	<string>https://bentzstocks-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>